body{
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
}

.side{
    display:flex;
    justify-content: center;
}

img {
    width:50px;
    height: 50px;
}

.profile-pic{
    width:100px;
    height:auto;
}

#main-logo{
    width:10vw;
    height:auto;
    margin-left:0;
    position:absolute;
}




#header #text{
    text-align: right;
    font-size: 2.5vw;}

#header a{
    text-decoration: none;
    color:black;
    margin: 0 2vw 0 2vw;
}

#hero-video{

    position:absolute;
    

}

#hero{
    position:relative;
}

#hero-content{
    position:relative;
    /* eerything down here is extra in this sectionws*/
    z-index:1;
    color:white;
    text-align: center;
    padding-top: 20%;
}


#footer-divider div{
    
    width:30%;

}

#footer{
    position:relative;
}
.centering{
    text-align: center;
}

.value-impact{

    background-color:lightblue;
    padding:30px;
    border-radius: 10px;
}

.carousel-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    width: 100%;
    gap: 40px;

    /* Hide scrollbar */
    scrollbar-width: none;
}



.card {
    min-width: calc(100vw / 3 - 40px);
    height: calc(100vw / 3 - 40px);

    background: lightgray;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    
}

#contact-info{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left:10vw;
    padding-right:10vw;
    align-items: center;}

input, textarea {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#values .value{
    background-color:rgba(173, 216, 230, 0.2);
    padding:30px;
    border-radius: 10px;
    margin: 20px;
}

.divider{
    display:flex;
    margin: 5vw 5vw 5vw 5vw;

}

.event{
    display:flex;
    justify-content: center;
    width:50%;

}

#involvement-options{
    display:flex;
    justify-content: center;
    gap: 5vw;
    margin: 5vw 0 5vw 0;
}

.left{
    text-align: left;
    justify-content: left;
}

.right{
    text-align: right;
    justify-content: right;
}