.side{
    display:flex;
    justify-content: center;
}

img {
    width:50px;
    height:auto;
}

#header{
    text-align: right;
}

#hero-video{

    position:absolute;
    

}

#hero{
    position:relative;
}

#hero-content{
    position:relative;
    /* eerything down here is extra in this sectionws*/
    z-index:1;
    color:white;
    text-align: center;
    padding-top: 20%;
}


#footer-divider div{
    
    width:30%;

}

#footer{
    position:relative;
}
.centering{
    text-align: center;
}

.value-impact{

    background-color:lightblue;
    padding:30px;
    border-radius: 10px;
}

.carousel-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    width: 100%;
    gap: 40px;

    /* Hide scrollbar */
    scrollbar-width: none;
}



.card {
    min-width: calc(100vw / 3 - 40px);
    height: calc(100vw / 3 - 40px);

    background: lightgray;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

}